
/* 欢迎光临凡客诚品  Fridolph仿写 */

/* 全局reset */
body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select { padding:0; margin:0; font-family:arial; }
li { list-style:none; }
img { border:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }

h1,h2,h3,h4,h5,h6{ 
	margin:0 auto; 
	font-weight:bold; color:#595757;
	font-family:"Microsoft Yahei"; }

.body_full{
	width:100%;	
	font-size:13px;
	font-family:"Microsoft Yahei";
	color:#333;
	position:relative;
	
}

.box{
	width:1200px;
	margin:0 auto;
	position:relative;
	
}

a{ color:#333;	 text-decoration:none; }



/* ---------------------------------以下为正文内容---------------------------------------- */

/* 顶部登录区域 */

.fullheader{ width:100%; height:31px; }

.header{ 
	width:1200px; height:31px; 
	margin:0 auto;
	position:relative; 
	z-index:10;
}

.header .left, .header .right{ 
	height:31px; 
	display:block; 
	list-style:none; 
	line-height:31px;  
	display:inline-block;}

.header .left{ float:left; position:relative;}
.header .left li{ float:left; margin-right:12px; }
.header .left li:nth-of-type(7){margin:0;}
.header .left li:nth-of-type(7) a{ color:#B81C22; }

.header .right{ float:right; position:relative;}
.header .right>li{ float:left; padding-right:40px; padding-left:5px; position:relative; }
.header .right>li:nth-of-type(1){background:url(../images/i0.png) no-repeat 60px 15px;}
.header .right>li:nth-of-type(2){background:url(../images/i0.png) no-repeat 60px 15px;}
.header .right>li:nth-of-type(3){background:url(../images/i0.png) no-repeat 60px 15px;}
.header .right>li:nth-of-type(4){background:url(../images/i1.png) no-repeat 60px 7px; }
.header .right>li:nth-of-type(5){background:url(../images/i4.png) no-repeat 60px 7px;}
.header .right>li:nth-of-type(6){width:18px; height:30px; margin-left:40px; padding:0px; margin-right:5px;}
.header .right>li:nth-of-type(6) img{ position:relative; top:5px; }
.header .right>li:nth-of-type(7){width:18px; height:30px; padding:0px;}
.header .right>li:nth-of-type(7) img{ position:relative; top:5px; }

.header a:hover{ color:#B81C22; }

/* ---------------------------------隐藏模块-------------------------------------- */

.hiddenlist{ 
	position:absolute; top:6px; left:0px; 
	clear:both; width:75px;  
	border:1px solid #A10000; 
	background:#fff; z-index:-1; 
	display:none;

	-moz-border-radius:5px;
	border-radius:5px; 	 
}
.hiddenlist li{ 
	padding:0; list-style:none; 
	position:relative; top:20px; left:5px; 
	line-height:20px;}

/* 我的凡客 */
.myVancal{ height:62px; }


/* 帮助中心 */
.helpCenter{height:143px;}

/* 网站公告 */
.webNotice{height:103px;}




/* ------------------------------------------------------------------------- */
/* LOGO和搜索栏区域 */
.search{	
	height:73px; 
	margin:10px auto; 
}

.searchText{ 
	width:388px; height:27px; 
	border:1px solid #666; border-right:0;
	position:absolute; left:640px; top:12px;}

.bSearch{ 
	width:47px; height:29px; 
	border:1px solid #666; 
	position:absolute; left:1029px; top:12px;
	background:rgb(184,27,34); 
	color:white; font-family:"宋体";
}

.bCar{ 
	width:105px; height:27px; 
	border:1px solid #9b0c13; 
	position:absolute; right:2px; top:12px;
 	background:rgb(184,27,34) url(../images/car_white.png) no-repeat; 
 	z-index:1
 }
.bCar a{
	color:#fff; 
	font-family:"宋体"; 
	padding-left:33px; 
	line-height:27px;
}

.search>a{ position:absolute; left:50px; top:15px; }
.search>p { 
	line-height:18px; 
	position:absolute; left:640px; top:45px; 
	color:#727171;
}
.search>p a{ 
	padding-left:10px; 
	color:#727171; 
}
.search>p a:hover{ color:#a10000; }
 
/* 移入移出事件  隐藏栏 */
.hiddensCarText{
	width:327px; height:27px; border:1px solid #A10000;
	position:absolute; right:2px; top:40px;
	background:#fff; z-index:1; line-height:27px; 
	display:none;
}
.hiddensCarText>span{padding-left:5px;}




/* 导航栏 */
.menu{	height:49px; background:#ccc; margin-bottom:17px; }

.menu>span{	
	display:inline-block; 
	width:260px; height:49px; 
	background:#A10000; 
	float:left;
	line-height:49px;	font-size:17px; text-align:center; color:white;
}
.menu>a{
	display:inline-block; 
	width:117.5px; height:49px;
	background:#efefef ;
	float:left;
	line-height:49px; font-size:16px; text-align:center;
}
.menu>a:hover{ color:#A10000; background:#d2d2d2;}

/* 隐藏区域 */

.menu>div{
	width:938px; height:170px; 
	border:1px solid #cecece;  border-bottom:1px solid rgb(220,100,100);
	background:#fff; 
	z-index:2;
	position:absolute; top:48px; left:260px; 
	display:none;
}
.hClassleft>a, .hClassRight>a{ 
	position:absolute; left:50px; top:15px; 
}

.hClassleft,.hClassRight { 
	height:170px; 
	display:inline-block; 
	float:left;
	position:relative;
}
.hClassleft { width:460px; }
.hClassRight{ width:478px; } 

/* 隐藏部   内容 */
.hS_Left, .hS_Right{
	width:190px; height:130px;	
	position:absolute; left:250px; top:20px;}
.hS_Left { border-right:1px solid #ccc;}


.hS_Left>a,.hS_Right>a{ 
	line-height:30px;
	font-weight:bold; font-size:16px; 
	margin-left:5px; margin-bottom:10px; 
}
.hS_Left>a:hover,.hS_Right>a:hover{ color:#A10000; }

.hS_Left>p,.hS_Right>p{ 
	margin:5px 5px; padding-right:15px;
	font-size:12px; line-height:16px;
	color:#999;
}

.hS_Left>span,.hS_Right>span{
	font-size:16px; line-height:30px;
	color:#A10000;
}

/* 隐藏部右边的内容 */



/*  ---------------------------------------------------------------------------  */
/* 主要商品区域 */
.main{	height:476px;  margin-bottom:20px; }

/* 左边部分 */

.main>dl{
	width:258px;  
	border:1px solid #ccc; 
	position:relative;
	margin-bottom:14px;
}

.main>dl:nth-of-type(3){ margin:0; }


.main>dl>dt{
	width:228px; margin-left:30px;  
	margin-top:10px;
	font-size:13px; line-height:24px; 
}
.main dl dd{
	width:228px; margin-left:30px;
}
.main dl dd a{
	display:inline-block;	
	font-size:13px; line-height:24px; 
	margin-right:10px;	margin-top:4px;
}

.main dl dd a:hover{ color:#B81C22; background:#e5e5e5;}

.main dl dd a:nth-of-type(1){color:#B81C22;}

.dlTop dd:nth-of-type(1)::after,
.dlTop dd:nth-of-type(2)::after,
.dlTop dd:nth-of-type(3)::after{
	content:""; position:absolute;
	width:258px; height:1px; background:#ccc;
	bottom:0%; top:64px; left:0px; right:0px;
}

.dlTop dd:nth-of-type(1)::after{	bottom:0%; top:64px;  left:0px; right:0px; }
.dlTop dd:nth-of-type(2)::after{	bottom:0%; top:128px; left:0px; right:0px; }
.dlTop dd:nth-of-type(3)::after{	bottom:0%; top:192px; left:0px; right:0px; }

.dlMiddle dd:nth-of-type(1)::after{
	content:""; position:absolute;
	width:258px; height:1px; background:#ccc;
	bottom:0%; top:68px; left:0px; right:0px;
}

.dlTop   { height:258px; }
.dlMiddle{ height:135px; }
.dlBottom{ height:47px;  }

.dlBottom dd{ line-height:47px; }

.dlTop>a{ 
	width:30px; height:20px; background:#fff;
	position:absolute; left:30px; top:-10px;
	font-size:15px; color:#B81C22;
	display:block; 	
}

.dlMiddle>a{ 
	position:absolute; left:30px; top:-10px;
	font-size:15px; color:#B81C22;
	display:block; 	
}

.dlBottom>a{ 
	position:absolute; left:30px; top:-10px;
	font-size:15px; color:#B81C22;
	display:block; 	
}


/* __________ */
/* 中间部分 */

.main>a{ 
	display:block; 
	width:208px; height:235px; 
	border:1px dotted #666;  
	position:absolute; 
}



.mainMiddle{ 
	width:710px; height:475px; 
	position:absolute; left:270px; top:0px;
}
.mainMiddle>a{	position:absolute; left:0; top:0; }

.mainUl{
	width:160px; height:20px;
 	position:absolute; bottom:30px; left:270px; z-index: 3
 }

.mainUl>li{
	width:14px; height:14px; 
	border:1px solid #fff;
	float:left; 
	margin-left:10px;
	overflow:hidden;
	background:#666;
	-moz-border-radius:100%;
	border-radius:15px;

}
.mainUl>li>a{ display:block; width:100%; height:100%; background:#000;}

/* main  右边 */

.mainRight{ 
	width:210px; height:476px; 
	position:absolute; right:0px; top:0px;
}

.mainRight img{ width:207px; height:234px; border:1px dotted #999;}





/* 当季推荐 */
.recommend_title{ width:1200px; height:40px; line-height:40px; font-size:17px; padding-left:35px; }

.recommend1 img{margin-right:4px; position:relative; float:left; }
.recommend2 img{margin-right:4px; position:relative; float:left; }

.recommend1 img:nth-of-type(5){	margin:0px; }
.recommend2 img:nth-of-type(5){	margin:0px; }





/* 上衣 */

.clothes_title{	clear:both; width:1200px; height:80px; line-height:80px; 
	font-size:17px; padding-left:35px;  position:relative; }

.clothes1 img { margin-right:4px; position:relative; float:left; }
.clothes2 img { margin-right:4px; position:relative; float:left; }

.clothes1 img:nth-of-type(3){ margin:0px;  }
.clothes2 img:nth-of-type(5){ margin:0px;  }


/* 下装 */

.pants_title{ clear:both; width:1200px; height:80px; line-height:80px; 
	font-size:17px; padding-left:35px;  }

.pants1,.pants2{ width:1200px; height:240px;  margin-bottom:10px; }

.pants1 img { margin:5px 5px 0 0; position:relative; float:left; }
.pants2 img { margin:5px 5px 0 0; position:relative; float:left; }

.pants1 img:nth-of-type(3){	margin-top:5px; }
.pants2 img:nth-of-type(5){	margin-top:5px; }


/* 更多精品 */

.more_title{ 
	clear:both; width:1200px; height:80px; 
	line-height:80px; 
	font-size:17px; 
	padding-left:35px;  
}
.more { 
	width:1200px; height:232px; 
	margin-bottom:30px; 
}
.more img { 
	margin-right:4px; 
	position:relative; 
	float:left; 
}
.more img:nth-of-type(5){ margin:0; }



/* 关于凡客 */

.regard { 
	clear:both; 
	width:1198px; height:188px; 
	border:1px solid #cfcfcf; 
	margin-bottom:20px; 
}

.regard ul{ 
	width:100%; height:100%; 
	text-align:justify; 
	overflow:hidden; 
	position:relative;
}

.regard a{ 
	text-decoration:none; 
	line-height:20px; 
	font-size:12px; 
	font-family:"Microsoft YaHei"; 
	color:#333; 
}

.regard a:hover{ color:#A10000; }

.regard ul li{
	width:16.5%; height:188px; 
	list-style:none;	
	display:inline-block; 
	float:left; 
	border-right:1px solid #cfcfcf; 
	text-align:center;
	position:relative; 
	overflow:hidden;
}

.regard ul li:nth-of-type(6){ border:0px; }

.regard ul li h4{ margin:20px auto; }


/* 服务 */

.service { height:51px; margin-bottom:20px;}

.service li{ 
	width:300px; height:50px; 
	list-style:none; 
	display:inline-block; 
	float:left;
}



/* 底部声明 */


.endall{ 
	margin:0 auto; 
	height:130px; width:100%; 
	border-top:1px solid #333;
}

.endall p{ 
	width:1200px; 
	text-align:center; 
	line-height:33px; 
	color:#3E3A39; 
	font-size:12px; 
	margin:10px auto; 
	padding:0; 
}

.endall ul{ 
	width:1200px; 
	margin:2px auto; 
	text-align:center; 
}

.endall ul li{ 
	margin-right:10px; 
	list-style:none; 
	display:inline-block; 
} 

.footer a{ 
	display:inline-block; 
	position:relative; top:20px; 
	margin-right:15px;
}
