
/*首页位置信息*/
.local{width:1100px;margin:0 auto;height:42px;font:14px/42px "微软雅黑";}

/*主内容区域*/

#main{width:1100px;height:1150px;margin:0 auto;}
.left{float:left;width:262px;height:1150px;overflow:hidden;margin-right:18px;}
.right{float:left;width:818px;height:1150px;overflow:hidden;}


/*主内容区域*/

#main{width:1100px;height:1150px;margin:0 auto;;}
.left{float:left;width:262px;height:1150px;overflow:hidden;margin-right:18px;;}
.right{float:left;width:818px;height:1150px;overflow:hidden;}

/*主内容区域——左边*/
.buyCar{float:left;width:262px;height:464px;}
.orderBuy,.sellCar,.contact{margin:13px 0;}
.orderBuy{margin-top:0;}

/*售后保障*/
.oversell{width:260px;height:150px;border:1px solid #ccc;margin-bottom:26px;}
.oversell p{font:16px/45px "微软雅黑";height:45px;color:#232323;text-indent:20px;font-weight:bold;border-bottom:1px solid #ccc;margin:0;}
.oversell div{width:260px;height:102px;float:left;margin:0;}
.oversell div img{margin:10px 0 0 39px;}
.oversell div a{float:right;font:14px/102px "微软雅黑";color:#5f5f5f;font-weight:bold;margin-right:50px;}
.oversell div a:hover{color:#e03a20;border:0;text-decoration:normal;}

/*预约买车*/
.oversell a:hover{color:#e03a20;text-decoration:none;border-bottom:1px solid #e03020;}
.orderBuy{width:260px;height:462px;float:left;-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.3);box-shadow:0 3px 5px rgba(0,0,0,0.3);border:1px solid #ccc;}
.orderBuy p{font:16px/36px "黑体";color:#000;margin:20px auto 10px;text-indent:10px;}
.orderBuy span{float:right;font-size:12px;font-family:"宋体";color:#666;padding-right:4px;}
.orderBuy input{height:32px;line-height:32px;background:#f7f7f7;color:#999;width:76%;margin:10% 0 0 10%;}
.orderBuy .o_submit{height:32px;line-height:32px;color:#fff;text-align:center;background:#eb492d;}

.orderBuy .o_number,.o_name,.o_tel{width:76%;text-indent:20%;color:#999;}
.orderBuy .o_number{background:url(../images/AMA_icon1.gif) no-repeat;}
.orderBuy .o_name{background:url(../images/AMA_icon2.gif) no-repeat;}
.orderBuy .o_tel{background:url(../images/AMA_icon3.gif) no-repeat;}

/*好车找到你*/
.carFind{float:left;width:260px;height:250px;position:relative;margin-top:13px;}
.carFind a{display:block;}


/*主内容区域——右边*/
.sCar{width:818px;height:220px;margin:0;float:left;border:1px solid #dedede;}
.sCar h3{font:18px/24px "微软雅黑";height:24px;margin:0;color:#ea492d;font-weight:bold;}

.s_left{width:45%;height:89%;float:left;padding:2%;font:14px/36px "微软雅黑";color:#333;}
.s_left p{line-height:20px;padding-right:8%;}
.s_left strong{color:#ea492d;}

.s_right{width:55%;height:89%;float:left;}
.s_right a{float:left;height:100%;}
.s_right a img{height:100%;}

.map{margin-top:30px;float:left;width:818px;height:304px;padding:0 4%;}
.map a {display:block;width:100%;border:1px solid #dedede;}
.map a img{width:100%;}

/*你可能喜欢的车*/
.wellcar{float:left;height:370px;width:100%;}
.wellcar>h3{font:22px/22px "微软雅黑";margin:30px 0 10px 0;font-weight:bold;}

.hot_pic{margin:0 auto;width:818px;height:300px;float:left;margin-top:20px;}
.hot_pic li{float:left;width:31.3%;margin-right:3%;margin-height:298px;border-bottom:2px solid #7fb9ef;background:white;}
.hot_pic li img{width:100%;}
.hot_pic li:nth-child(3){margin-right:0;}


.hot_pic li h3,#hot_pic li p,#hot_pic li img{cursor:pointer;}

.hot_pic .title{text-indent:10px;font-size:15px;line-height:30px;font-family:"黑体";color:#222;margin:0;padding:0;}
.hot_pic .time{margin-bottom:0;text-indent:10px;font-size:12px;line-height:30px;font-family:"黑体";color:#666666;margin-right:10px;margin-right:5%;}
.hot_pic .km{float:right;}
.hot_pic .n_text{margin-bottom:0;text-indent:10px;color:#1e1e1e;font:14px "黑体";}
.hot_pic .n_price{text-indent:10px;color:#eb492d;font:18px "黑体";}
.hot_pic .b_price{text-decoration:line-through;float:right;margin-right:10px;margin-right:5%;}
