


/*服务*/
#service{width:1100px;height:100px;margin:20px auto;}



/*主内容部分*/
#main{margin:0 auto;width:1100px;margin-top:50px;}
#main h2{float:left;width:20%;height:30px;font:22px/30px "黑体";padding: 0;margin:0;font-weight:bold;}
#main p a{text-decoration:none;font-size:16px;font-family:"黑体";color:#666;}
#main .page a{display:block;float:left;text-decoration:none;font-size:16px;font-family:"黑体";color:#666;}

.hot_menu{float:left;font-weight:bold;width:60%;height:30px;padding:0 2%;}
.hot_menu a{text-align:center;float:left;width:12%;margin-right:4%;height:30px;line-height:30px;cursor:pointer;}
.hot_menu ._active{color:#e03a20;padding-bottom:5px;border-bottom:2px solid #e03a20;}
.hot_menu a:hover{color:#e03a20;border-bottom:2px solid #e03a20;text-decoration:none;}


.examine{text-align:center;float:right;height:30px;line-height:30px;cursor:pointer;color:#666;}
.examine:hover{color:#333;}
.examine img{margin:0 5px;}

.page{position:absolute;left:40%;}
.page a{display:inline-block;padding:5px;}

#marquee{width:1000px;height:450px;}
#marquee li{float:left;}

.hot_box{margin:0 auto;width:1100px;height:630px;float:left;overflow:hidden;}
.hot_pic{margin:0 auto;width:1100px;height:620px;float:left;display:none;}
.hot_pic li{float:left;width:260px;height:295px;margin:20px 20px 0 0;border-bottom:2px solid #7fb9ef;background:white;}
.hot_pic li:nth-child(4){margin-right:0;}
.hot_pic li:nth-child(8){margin-right:0;}
.hot_pic li:nth-child(12){margin-right:0;}

.hot_pic li h3,#hot_pic li p,#hot_pic li img{cursor:pointer;}

.hot_pic .title{text-indent:10px;font-size:15px;line-height:30px;font-family:"黑体";color:#222;margin:0;padding:0;}
.hot_pic .time{margin-bottom:0;text-indent:10px;font-size:12px;line-height:30px;font-family:"黑体";color:#666666;margin-right:10px;margin-right:5%;}
.hot_pic .km{float:right;}
.hot_pic .n_text{margin-bottom:0;text-indent:10px;color:#1e1e1e;font:14px "黑体";}
.hot_pic .n_price{text-indent:10px;color:#eb492d;font:18px "黑体";}
.hot_pic .b_price{text-decoration:line-through;float:right;margin-right:10px;margin-right:5%;}



/*我要买车 我要卖车*/
#buy_sell{float:left;margin:40px auto 0px;width:1100px;height:72px;overflow:hidden;}
.bs_box{float:left;width:200px;height:36px;margin-top:18px;}
.bs_box li{float:left;width:100px;height:36px;float:left;width:100px;height:36px;font:20px/36px "黑体";font-weight:bold;text-align:center;cursor:pointer;}
.bs_box li:hover{color:#131b32;}

#buy_sell ._active{color:#fff;background:#e03a20;border-bottom:2px solid #e03a20;}

#bs_box{margin:0 auto;width:1100px;float:left;height:283px;overflow:hidden;}

.bs_left{float:left;width:260px;height:282px;display:none;}
.bs_left p{margin-bottom:20px;font:16px/32px "黑体";color:#242424;border-bottom:1px solid #ccc;font-weight:bold;}
.bs_left p span{font-size:12px; color:#242424;padding-left:8px;font-weight:normal;}
.bs_left input{width:70%;position:relative;left:10%;margin:10px 0;}
.bs_left h4{width:50%;position:relative;left:10%;margin:10px 0;font:16px/20px "黑体";color:#999;}
.bs_left h4:nth-child(1){margin-top:20px;}

/*图标*/
.car_text,.car_phone{height:28px;line-height:28px;text-indent:36px;color:#999;}
.car_submit{height:32px;line-height:32px;color:#fff;text-align:center;background:#eb492d;}
.car_text{background:url(../images/AMA_icon2.gif) no-repeat;}
.car_phone{background:url(../images/AMA_icon3.gif) no-repeat;}


/*体验区 轮播图  中间部分*/

#demo3{width:580px; height:282px;float:left;position:relative;overflow:hidden;}
div.slideBox{ position:relative;width:580px; height:282px;overflow:hidden;}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:50px; background-color:#000; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox div.tips div.title a{ color:#FFF; font-size:18px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left;width:20px; height:20px; background-color:#FFF; text-indent:-99999px; margin:15px 10px 0px 0px;}
div.slideBox div.tips div.nums a.active{ background-color:#093;}


/*右边部分*/

.bs_right{float:right;width:260px;height:282px;}
.bs_right p{text-indent:20px;font:20px/28px "黑体";color:#000;}
.bs_right .know li{text-indent:20px;}
.bs_right .know li a{display:block;font:13px/36px "宋体";color:#666666;}


#gg{width:1100px;float:left;height:80px;margin:60px auto 60px;}
#gg a{float:left;}

/*AMA美容定制*/
#article{width:1100px;height:360px;margin:60px auto 60px;float:left;}


.introduce{width:260px;height:360px;float:left;-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.3);box-shadow:0 3px 5px rgba(0,0,0,0.3);border:1px solid #ccc;}
.introduce p{font:16px/36px "黑体";color:#000;margin:20px auto 10px;text-indent:10px;}
.introduce span{float:right;font-size:12px;font-family:"宋体";color:#666;padding-right:4px;}
.introduce input{height:32px;line-height:32px;background:#f7f7f7;color:#999;width:76%;margin:25px 20px 0;}
.introduce .AMA_submit{height:32px;line-height:32px;color:#fff;text-align:center;background:#eb492d;}

.introduce .AMA_number,.AMA_name,.AMA_tel{width:76%;text-indent:20%;color:#999;}
.introduce .AMA_number{background:url(../images/AMA_icon1.gif) no-repeat;}
.introduce .AMA_name{background:url(../images/AMA_icon2.gif) no-repeat;}
.introduce .AMA_tel{background:url(../images/AMA_icon3.gif) no-repeat;}


.news{width:840px;height:390px;float:left;}
#piece{width:840px;height:150px;}
#piece li{float:left;width:16.3%;height:86px;background:#e3fbfc;margin:40px 15px 0;font:18px/34px "黑体";padding:2%;}
#piece li>p{font:12px/16px "宋体";color:#666;text-align:left;}
#piece li:nth-child(4){background:#fce3eb;}
#piece li:last-child{font:15px/20px "黑体";text-align:center;padding:5px;margin:40px 15px 0}


/*汽车维修中心*/

.repair_title{float:left;margin-top:50px;}

#repair{width:1100px;height:500px;float:left;margin:50px auto 50px;background:pink;}


/*名车鉴赏*/

.cars_box{width:1100px;height:400px;float:left;margin:50px auto 30px;}

.cars_box .car1{float:left;width:275px;height:180px;background:url(../images/car/01.jpg) no-repeat;}
.cars_box .car2{float:left;width:550px;height:180px;background:url(../images/car/02.jpg) no-repeat;}
.cars_box .car3{float:right;width:275px;height:400px;background:url(../images/car/03.jpg) no-repeat;}
.cars_box .car4{float:left;margin-top:40px;width:275px;height:180px;background:url(../images/car/04.jpg) no-repeat;}
.cars_box .car5{float:left;margin-top:40px;width:275px;height:180px;background:url(../images/car/05.jpg) no-repeat;}
.cars_box .car6{float:left;margin-top:40px;width:275px;height:180px;background:url(../images/car/06.jpg) no-repeat;}


#car1_inner{background:rgba(0,0,0,0.4);width:80%;height:80%;position:relative;left:10%;top:10%;color:white;}
.car1 p:nth-child(1){position:absolute;top:30%;left:25%;height:32px;font:16px/32px "宋体";border-bottom:2px solid #999;cursor:pointer;}
.car1 p:nth-child(2){position:absolute;top:60%;left:38%;height:32px;font:14px/28px "宋体";color:#db371b;cursor:pointer;}

#car2_inner{background:rgba(0,0,0,0.4);width:80%;height:80%;position:relative;left:10%;top:10%;color:white;}
.car2 p:nth-child(1){position:absolute;top:30%;left:25%;height:32px;font:16px/32px "宋体";border-bottom:2px solid #999;cursor:pointer;}
.car2 p:nth-child(2){position:absolute;top:60%;left:45%;height:32px;font:14px/28px "宋体";color:#db371b;cursor:pointer;}

#car3_inner{background:rgba(0,0,0,0.4);width:80%;height:80%;position:relative;left:10%;top:10%;color:white;}
.car3 p:nth-child(1){position:absolute;top:40%;left:35%;height:32px;font:16px/32px "宋体";border-bottom:2px solid #999;cursor:pointer;}
.car3 p:nth-child(2){position:absolute;top:50%;left:38%;height:32px;font:14px/28px "宋体";color:#db371b;cursor:pointer;}

#car4_inner{background:rgba(0,0,0,0.4);width:80%;height:80%;position:relative;left:10%;top:10%;color:white;}
.car4 p:nth-child(1){position:absolute;top:30%;left:25%;height:32px;font:16px/32px "宋体";border-bottom:2px solid #999;cursor:pointer;}
.car4 p:nth-child(2){position:absolute;top:60%;left:38%;height:32px;font:14px/28px "宋体";color:#db371b;cursor:pointer;}

#car5_inner{background:rgba(0,0,0,0.4);width:80%;height:80%;position:relative;left:10%;top:10%;color:white;}
.car5 p:nth-child(1){position:absolute;top:30%;left:25%;height:32px;font:16px/32px "宋体";border-bottom:2px solid #999;cursor:pointer;}
.car5 p:nth-child(2){position:absolute;top:60%;left:38%;height:32px;font:14px/28px "宋体";color:#db371b;cursor:pointer;}

#car6_inner{background:rgba(0,0,0,0.4);width:80%;height:80%;position:relative;left:10%;top:10%;color:white;}
.car6 p:nth-child(1){position:absolute;top:30%;left:25%;height:32px;font:16px/32px "宋体";border-bottom:2px solid #999;cursor:pointer;}
.car6 p:nth-child(2){position:absolute;top:60%;left:38%;height:32px;font:14px/28px "宋体";color:#db371b;cursor:pointer;}



/*公司简介*/

#company{width:1100px;height:340px;float:left;margin:30px auto;}
.com_intro{width:55%;height:340px;margin-right:5%;float:left;}
.com_intro ul{width:100%;height:80%;}
.com_intro ul li:nth-child(1){width:45%;margin:0 5%;float:left;}
.com_intro ul li:nth-child(1) a{display:block;margin-top:10px;}
.com_intro ul li:nth-child(2){width:45%;float:left;padding:0 2%;line-height:30px;}

.com_title{width:92%;margin:2% auto 4%;font:22px/36px "黑体";color:#2e2e2e;border-bottom:1px solid #b2b2b2;}
.com_title span{color:#e03a20;}
.com_title a{float:right;font-family:"微软雅黑";cursor:pointer;}
.com_text{color:#999;-webkit-transition:0.3s;transition:0.3s;}
.com_text:hover{color:#062e54;}

.com_news{width:40%;height:340px;float:left;margin-top:2px}
.com_news ul{width:100%;height:80%;margin-top:25px;}
.com_news ul>li{width:100%;float:left;padding:0 4%;line-height:30px;}
.com_news ul>li>a{display:block;color:#666;}
.com_news ul>li>a:hover{text-decoration:none;border-bottom:1px solid #cdcdcd;color:#2e2e2e;}
.com_news ul>li>a>span{float:right;}

